@model Customer
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
<form asp-controller="home" asp-action="Post">
    <div class="text-center">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text fas fa-envelope" id="basic-addon1"></span>
                </div>
                <input asp-for="Email" placeholder="Email address" class="form-control" aria-describedby="basic-addon1" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>
            <div class="input-group">
                <div class="input-group-append">
                    <span class="input-group-text fas fa-car" id="basic-addon2"></span>
                </div>
                <input asp-for="RegistrationNumber" placeholder="Vehicle registration number" class="form-control" />
            </div>
            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
        </div>
        <input type="submit" name="register" class="btn btn-outline-primary" value="Register" />
    </div>
</form>
